---
  name: Create JIRA ticket for dependabot prs

  on:
    pull_request:
      types: [opened]

  permissions: 
    pull-requests: write
    contents: write
    repository-projects: read
  jobs:
    jira_task:
      name: Create Jira issue
      runs-on: ubuntu-latest
      if: github.actor == 'dependabot[bot]'
      steps:
      - uses: GitHubSecurityLab/actions-permissions/monitor@v1
        with:
          config: ${{ vars.PERMISSIONS_CONFIG }}
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 2
      - name: set Apix Bot token
        id: app-token
        uses: mongodb/apix-action/token@6c3fde402c21942fa46cde003f190c2b23c59530
        with:
          app-id: ${{ secrets.APIXBOT_APP_ID }}
          private-key: ${{ secrets.APIXBOT_APP_PEM }}
      - name: Create JIRA ticket
        uses: mongodb/apix-action/create-jira@v13
        id: create
        with:
          token: ${{ secrets.JIRA_API_TOKEN }}
          project-key: CLOUDP
          summary: cobra2snooty Dependency Update n. ${{ github.event.pull_request.number }}
          issuetype: Story
          description: "This ticket tracks the following GitHub pull request: ${{ github.event.pull_request.html_url }}."
          components: AtlasCLI
          assignee: ${{ secrets.ASSIGNEE_JIRA_TICKET }}
          extra-data: |
            {
              "fields": {
                "fixVersions": [
                  {
                    "id": "41805"
                  }
                ],
                "customfield_12751": [
                  {
                    "id": "${{ vars.JIRA_TEAM_APIX_2 }}"
                  }
                ],
                "customfield_10257": {
                  "id": "11861"
                }
              }
            }
      - name: Add comment
        uses: peter-evans/create-or-update-comment@71345be0265236311c031f5c7866368bd1eff043
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            The ticket [${{ steps.create.outputs.issue-key }}](https://jira.mongodb.org/browse/${{ steps.create.outputs.issue-key }}) was created for internal tracking.

            Note: Jira ticket will be closed automatically when this PR is merged.
      - name: Add auto_close_jira label
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr edit "${{github.event.pull_request.html_url}}" --add-label "auto_close_jira"
      - name: Set auto merge
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          gh pr merge "${{ github.event.pull_request.html_url }}" --auto --squash
